/* Add screen styles below */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    color:rgb(17, 17, 17);
    margin: 60px;
    font-family: "Inter", sans-serif;
}

#Header{

}

#HeaderPicture {
    top: 20px;
    left: 10%;
    width: 100%;
    height: 250px;
    border-radius: 50px 50px 0px 0px;
    object-fit: cover;
    

}

#ProfilePicture {
    position: absolute;
    top: 180px;
    left: 120px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 12px solid;
    border-color: white;
    float: left;
}

#Name {
    position:absolute;
    left: 440px


}


#Years {
    float: right;
    
}


#TextBody {
    position: relative;
    top: 170px;
    margin-bottom: 120px;
}

.Info {
    margin-left: 40px;
}

h1 {

}

h2 {

}

h3 {

}

p {
    margin-left:20px;
    margin-bottom:40px;

}

.LineBreak {
    margin: auto;
    width: 100%;
    height: 4px;
    background-color: #F26B4D;
}

.BottomSpacing {
    margin-bottom: 120px;

}