/* Add screen styles below */

body {

}

#Header{

}

#HeaderPicture {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 80%;
    height: 250px;
    border-radius: 24 24 0 0;
    object-fit: cover;
    

}

#ProfilePicture {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border-width: 4px;
    border-color: blue;
    float: left;

}

#TextBody {
    top: 200px;
}

h1 {

}

h2 {

}

h3 {

}

p {


}

.LineBreak {
    color: black;
    margin: auto;
    width: 90%;
    height: 8px;
}
